<div *ngIf="deliveryDocuments">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <caption class="align-middle caption-top">
      <h2 class="align-middle caption-top">Delivery Documents</h2>
    </caption><button class="btn btn-primary" routerLink="add">Add</button>
  </div>
  <table class="table align-middle mb-0 bg-white caption-top table-responsive-sm" *ngIf="deliveryDocuments">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Supplier</th>
        <th>Warehouse</th>
        <th>Label</th>
        <th>Product</th>
        <th>Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let deliveryDocument of deliveryDocuments; let i = index">
      <tr>
        <ng-container *ngIf="!deliveryDocument.isCancelled;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{deliveryDocument.supplierInfo?.supplierName}}
          </td>
          <td>
            {{deliveryDocument.storehouseInfo?.storehouseName ?? "Brak danych"}}
          </td>
          <td>
            <div *ngFor="let labelDocument of deliveryDocument.labelDocuments">
              {{
              labelDocument?.labelName
              }}
            </div>
          </td>
          <td>
            <div *ngFor="let product of deliveryDocument.productLists">
              {{ product?.productName }}
            </div>
          </td>
          <td>
            <strong>{{deliveryDocument.isApproved ? " Yes" : "No" }}</strong>
          </td>
          <td>
            <ng-container *ngIf="!deliveryDocument.isApproved; else disabledButtons">
              <button type="button" title="view" class="btn btn-primary m-1 d-sm-inline"
                routerLink="view/{{deliveryDocument.documentID}}">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button title="Edit disabled" type="button" routerLink="edit/{{deliveryDocument.documentID}}"
                class="btn btn-dark  d-sm-inline">
                <i class="fa-solid fa-edit"></i>
              </button>
              <button type="button" title="approve" routerLink="approve/{{deliveryDocument.documentID}}"
                class="btn btn-success m-1 d-sm-inline">
                <i class="fa-solid fa-check"></i>
              </button>
              <button type="button" title="cancel" routerLink="cancel/{{deliveryDocument.documentID}}"
                class="btn btn-danger d-sm-inline">
                <i class="fa-solid fa-cancel"></i>
              </button>
            </ng-container>
            <ng-template #disabledButtons>
              <button type="button" title="view" class="btn btn-primary m-1 d-sm-inline"
                routerLink="view/{{deliveryDocument.documentID}}">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
              <button disabled type="button" title="edit" routerLink="edit/{{deliveryDocument.documentID}}"
                class="btn btn-outline-dark d-sm-inline">
                <i class="fa-solid fa-edit"></i>
              </button>
              <button disabled type="button" title="approve" routerLink="approve/{{deliveryDocument.documentID}}"
                class="btn btn-outline-dark m-1 d-sm-inline">
                <i class="fa-solid fa-check"></i>
              </button>
              <button disabled type="button" title="cancel" routerLink="cancel/{{deliveryDocument.documentID}}"
                class="btn btn-outline-dark d-sm-inline">
                <i class="fa-solid fa-cancel"></i>
              </button>
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>

<toaster aria-live="polite" aria-atomic="true"></toaster>