<div *ngIf="productDetails">
    <h2 class="my-3">Edit product</h2>
    <form [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label"><strong>Name: </strong></label>
            <div class="col-sm-8">
                <input type="text" title="name" placeholder="Enter name" formControlName="productName"
                    class="form-control" required id="name">
                <div class="text-danger" *ngIf="editProductForm.get('productName')?.hasError('required')">
                    Name required</div>
                <div class="text-danger" *ngIf="editProductForm.get('productName')?.hasError('minlength')">
                    Name must have at least 3 characters</div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="barcode" class="col-sm-2 col-form-label"><strong>Barcode: </strong></label>
            <div class="col-sm-8">
                <input type="text" title="barcode" formControlName="productBarcode" class="form-control" required
                    id="barcode">
                <div class="text-danger" *ngIf="editProductForm.get('productBarcode')?.hasError('required')">
                    Barcode required</div>
                <div class="text-danger"
                    *ngIf="editProductForm.get('productBarcode')?.hasError('minlength') || editProductForm.get('productBarcode')?.hasError('maxlength')">
                    Length of barcode should be between 3 and 48 characters</div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary mx-1" routerLink="../..">
            Back to list
        </button>
        <button type="submit" class="btn btn-success mx-1" [disabled]="!editProductForm.valid">
            Submit
        </button>
    </form>
</div>