<div *ngIf="deliveryDocument">
    <h2 class="my-3">Editing document</h2>

    <form>
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label"><strong>Document ID: </strong></label>
            <div class="col-auto">
                <input type="text" title="name" value="{{deliveryDocument.documentID}}" class="form-control" id="name">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="supplier" class="col-sm-2 col-form-label"><strong>Supplier: </strong></label>
            <div class="col-auto">
                <select title="Select supplier by name" class='form-select'>
                    <ng-container *ngFor="let supplier of suppliers">
                        <option *ngIf="supplier.supplierName !== deliveryDocument.supplier?.supplierName">
                            {{supplier.supplierName}}</option>
                    </ng-container>
                    <option value="{{ deliveryDocument.supplier?.supplierName }}" selected>
                        {{deliveryDocument.supplier?.supplierName}}</option>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="storehouse" class="col-sm-2 col-form-label"><strong>Storehouse: </strong></label>
            <div class="col-auto">
                <select title="Select storehouse by name" class='form-select'>
                    <option value="{{deliveryDocument.storehouse?.storehouseName}}">
                        {{deliveryDocument.storehouse?.storehouseName}}</option>
                    <ng-container *ngFor="let storehouse of storehouses">
                        <option *ngIf="storehouse.storehouseName !== deliveryDocument.storehouse?.storehouseName">
                            {{storehouse.storehouseName}}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="labelList" class="col-sm-2 col-form-label"><strong>Labels List: </strong></label>
            <div class="col-sm-3">
                <table class="table align-middle mb-0 bg-white caption-top mx-2">
                    <thead class=" table-dark">
                        <tr>
                            <th>Name</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="table-responsive-sm" *ngFor="let label of deliveryDocument.labelDocuments">
                        <tr>
                            <td>{{label.label?.labelName}}</td>
                            <td>
                                <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                                    (click)="deleteLabel(label.labelID)"><i class="fa fa-xl fa-xmark"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control m-2" placeholder="Enter label...">
                                <datalist list="label">
                                    <option id="label" *ngFor="let label of labels" value="{{label.labelName}}">
                                </datalist>
                            <td>
                                <div class="btn-group mx-1">
                                    <button type="button" (click)="addLabel()" title="Add new"
                                        class="btn btn-outline-success border-0 pe-auto"><i
                                            class="fa fa-xl fa-add"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="productList" class="col-sm-2 col-form-label"><strong>Products List: </strong></label>
            <div class="col-sm-9">
                <table class="table align-middle mb-0 bg-white caption-top">
                    <thead class="table-dark">
                        <tr>
                            <th class='col-sm-3'>Name</th>
                            <th class="col-sm-3">Barcode</th>
                            <th class="col-sm-1">Qty</th>
                            <th class="col-sm-2">Price</th>
                            <th class="col-sm-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-responsive-sm" *ngFor="let productList of productsLists">
                        <tr>
                            <td>{{productList.product?.productName}}</td>
                            <td>{{productList.product?.productBarcode}}</td>
                            <td>{{productList.quantity}}</td>
                            <td>{{productList.price|currency}}</td>
                            <td>
                                <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                                    (click)="deleteProduct(productList.listID)"><i
                                        class="fa fa-xl fa-xmark"></i></button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="table-responsive-sm">
                        <tr>
                            <td colspan="2">
                                <select title="Select product and Barcode" class="form-select">
                                    <ng-container *ngFor="let product of products">
                                        <option>{{product.productName}}</option>
                                    </ng-container>
                                </select>
                            </td>
                            <td>
                                <input type="number" min="1" class="form-control m-2" placeholder="1">
                            </td>
                            <td>
                                <div class="input-group m-2">
                                    <span class="input-group-text">$</span>
                                    <input type="number" step="0.01" min="0" value="" class="form-control"
                                        placeholder="0.00">
                                </div>
                            </td>
                            <td>
                                <div class="btn-group mx-1">
                                    <button type="button" (click)="addProduct()" title="Add new"
                                        class="btn btn-outline-success border-0 pe-auto"><i
                                            class="fa fa-xl fa-add"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="button" class="btn btn-secondary mx-1" routerLink="../..">
            Back to list
        </button>
        <button type="submit" class="btn btn-success mx-1">
            Submit
        </button>
    </form>