<div *ngIf="deliveryDocument">
  <h2 class="my-3">Editing document</h2>

  <form [formGroup]="editDocumentForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
      <label for="name" class="col-sm-2 col-form-label"><strong>Document ID: </strong></label>
      <div class="col-auto">
        <input type="text" title="name" value="{{deliveryDocument.documentID}}" disabled class="form-control" id="name">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="supplier" class="col-sm-2 col-form-label"><strong>Supplier: </strong></label>
      <div class="col-auto">
        <select title="Select supplier by name" class='form-select' formControlName="supplierID" name="supplier">
          <option *ngFor="let supplier of suppliersList" [value]="supplier.supplierID"
            [selected]="supplier.supplierID === (editDocumentForm.get('supplierID')?.value || deliveryDocument.supplierInfo?.supplierID)">
            {{supplier.supplierName}}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="storehouse" class="col-sm-2 col-form-label"><strong>Storehouse: </strong></label>
      <div class="col-auto">
        <select title="Select storehouse by name" class='form-select' formControlName="storehouseID" name="storehouse">
          <option *ngFor="let storehouse of storehousesList" [value]="storehouse.storehouseID"
            [selected]="storehouse.storehouseID === (editDocumentForm.get('storehouseID')?.value || deliveryDocument.storehouseID)">
            {{storehouse.storehouseName}}
          </option>
        </select>
      </div>
    </div>
    <div class="mb-3 row" formGroupName="labelDocuments">
      <label for="labelList" class="col-sm-2 col-form-label"><strong>Labels List: </strong></label>
      <div class="col-sm-3">
        <table class="table align-middle mb-0 bg-white caption-top table-responsive-sm">
          <thead class=" table-dark">
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let label of documentLabels; let i = index">
            <tr>
              <td>
                {{label.labelName}}
              </td>
              <td>
                <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                  (click)="onDeleteLabel(i)">
                  <i class="fa fa-xl fa-xmark"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <input formControlName="labelID" type="text" class="form-control m-2" placeholder="Enter label"
                  name="labelName" list="labels" required>
                <datalist id="labels">
                  <option *ngFor="let label of labelsList" [value]="label.labelName"></option>
                </datalist>
              <td>
                <div class="btn-group mx-1">
                  <button type="button" (click)="onAddLabel()" title="Add new"
                    class="btn btn-outline-success border-0 pe-auto">
                    <i class="fa fa-xl fa-add"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-3 row" formGroupName="productLists">
      <label for="productList" class="col-sm-2 col-form-label"><strong>Products List: </strong></label>
      <div class="col-sm-9">
        <table class="table align-middle mb-0 bg-white caption-top table-responsive-sm">
          <thead class="table-dark">
            <tr>
              <th class='col-sm-3'>Name</th>
              <th class="col-sm-3">Barcode</th>
              <th class="col-sm-2">Qty</th>
              <th class="col-sm-2">Price</th>
              <th class="col-sm-2">Actions</th>
            </tr>
          </thead>
          <tbody *ngFor="let productList of documentProducts; let i = index">
            <tr>
              <td>{{productList.productName}}</td>
              <td>{{productList.productBarcode}}</td>
              <td>
                <div *ngIf="productList.isEdit">
                  <input title="Edit the quantity" type="number" min="1" max="5000000" class="form-control m-2"
                    formControlName="editQuantity" [value]="productList.quantity" name="quantity">
                </div>
                <div *ngIf="!productList.isEdit">
                  {{productList.quantity}}
                </div>
              </td>
              <td>
                <div *ngIf="productList.isEdit">
                  <div class=" input-group m-2">
                    <span class="input-group-text">$</span>
                    <input title="Edit the price" type="number" step="0.01" min="0" max="5000000"
                      formControlName="editPrice" class="form-control" name="price">
                  </div>
                </div>
                <div *ngIf="!productList.isEdit">{{productList.price|currency}}</div>
              </td>
              <td>
                <ng-container *ngIf="!productList.isEdit; else editingButtons">
                  <button type="button" title="edit row" class="btn btn-outline-secondary pe-auto border-0"
                    (click)="onEdit(productList, i)">
                    <i class="fa fa-xl fa-pencil"></i>
                  </button>
                  <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                    (click)="onDeleteProduct(i)">
                    <i class="fa fa-xl fa-xmark"></i>
                  </button>
                </ng-container>
                <ng-template #editingButtons>
                  <button type="button" title="save edited" class="btn btn-outline-success pe-auto border-0"
                    (click)="onUpdate(productList, i)">
                    <i class="fa fa-xl fa-check-square"></i>
                  </button>
                  <button type="button" title="Cancel editing" class="btn btn-outline-danger pe-auto border-0"
                    (click)="onCancel(productList)">
                    <i class="fa fa-xl fa-xmark-square"></i>
                  </button>
                </ng-template>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td colspan="2">
                <select title="Select product and Barcode" class="form-select" formControlName="productID"
                  name="productID">
                  <ng-container *ngFor="let product of productsList">
                    <option [ngValue]="product.productID">
                      {{product.productName}}
                    </option>
                  </ng-container>
                </select>
              </td>
              <td>
                <input type="number" min="1" class="form-control m-2" placeholder="1" formControlName="quantity"
                  name="quantity">
              </td>
              <td>
                <div class="input-group m-2">
                  <span class="input-group-text">$</span>
                  <input type="number" step="0.01" min="0" class="form-control" placeholder="0.00"
                    formControlName="price" name="price">
                </div>
              </td>
              <td>
                <button
                  [disabled]="editDocumentForm.get('productList.price')?.invalid || editDocumentForm.get('productList.quantity')?.invalid"
                  type="button" (click)="onAddProduct()" title="Add new"
                  class="btn btn-outline-success border-0 pe-auto">
                  <i class="fa fa-xl fa-add"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-secondary mx-1" routerLink="../..">
      Back to list
    </button>
    <button type="submit" class="btn btn-success mx-1">
      Submit
    </button>
  </form>
</div>
<toaster aria-live="polite" aria-atomic="true"></toaster>