<h2 class="my-3">Adding new document</h2>
<form [formGroup]="addDocumentForm" (ngSubmit)="onAdd()">
    <div class="mb-3 row">
        <label for="supplier" class="col-sm-2 col-form-label"><strong>Supplier: </strong></label>
        <div class="col-auto">
            <select title="Select supplier by name" class='form-select' formControlName="supplierID" name="supplier">
                <ng-container *ngFor="let supplier of suppliersList">
                    <option hidden>Supplier</option>
                    <option [value]="supplier.supplierID">{{supplier.supplierName}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="storehouse" class="col-sm-2 col-form-label"><strong>Storehouse: </strong></label>
        <div class="col-auto">
            <select title="Select storehouse by name" class='form-select' formControlName="storehouseID"
                name="storehouse">
                <ng-container *ngFor="let storehouse of storehousesList">
                    <option hidden>Storehouse</option>
                    <option [value]="storehouse.storehouseID">
                        {{storehouse.storehouseName}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="mb-3 row" formGroupName="labelDocuments">
        <label for="labelList" class="col-sm-2 col-form-label"><strong>Labels List: </strong></label>
        <div class="col-sm-3">
            <table class="table align-middle mb-0 bg-white caption-top table-responsive-sm">
                <thead class=" table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let label of documentLabels; let i = index">
                        <td>{{label.labelName}}</td>
                        <td>
                            <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                                (click)="onDeleteLabel(i)"><i class="fa fa-xl fa-xmark"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <input formControlName="labelID" type="text" class="form-control m-2"
                                placeholder="Enter label" name="labelName" list="labels" required>
                            <datalist id="labels">
                                <option *ngFor="let label of labelsList" [value]="label.labelName"></option>
                            </datalist>
                        </td>
                        <td>
                            <div class="btn-group mx-1">
                                <button type="button" title="Add new" (click)="onAddLabel()"
                                    [disabled]="!addDocumentForm.get('labelDocuments')?.valid"
                                    class="btn btn-outline-success border-0 pe-auto"><i
                                        class="fa fa-xl fa-add"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class=" mb-3 row" formGroupName="productLists">
        <label for="productList" class="col-sm-2 col-form-label"><strong>Products List:
            </strong></label>
        <div class="col-sm-9">
            <table class="table align-middle mb-0 bg-white caption-top table-responsive-sm">
                <thead class="table-dark">
                    <tr>
                        <th class='col-sm-3'>Name</th>
                        <th class="col-sm-3">Barcode</th>
                        <th class="col-sm-2">Quantity</th>
                        <th class="col-sm-2">Price</th>
                        <th class="col-sm-1">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let product of documentProducts; let i = index">
                    <tr>
                        <td>{{product.productName}}</td>
                        <td>{{product.productBarcode}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.price | currency}}</td>
                        <td>
                            <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"
                                (click)="onDeleteProduct(i)"><i class="fa fa-xl fa-xmark"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <select title="Select product and Barcode" class="form-select" formControlName="productID"
                                required name="productID">
                                <option hidden>Select product</option>
                                <ng-container *ngFor="let product of productsList">
                                    <option [value]="product.productID">
                                        {{product.productName}}</option>
                                </ng-container>
                            </select>
                        </td>
                        <td>
                            <input type="number" min="1" class="form-control m-2" placeholder="1"
                                formControlName="quantity" name="quantity" required>
                        </td>
                        <td>
                            <div class="input-group m-2">
                                <span class="input-group-text">$</span>
                                <input type="number" step="0.01" min="0" class="form-control" placeholder="0.00"
                                    formControlName="price" name="price" required>
                            </div>
                        </td>
                        <td>
                            <button [disabled]="!addDocumentForm.get('productLists')?.valid" type="button"
                                (click)="onAddProduct()" title="Add new"
                                class="btn btn-outline-success border-0 pe-auto"><i
                                    class="fa fa-xl fa-add"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btn btn-secondary mx-1" routerLink="..">
        Back to list
    </button>
    <button type="submit" class="btn btn-success mx-1">
        Submit
    </button>
</form>