<h2 class="my-3">Adding new document</h2>
<form>
    <div class="mb-3 row">
        <label for="supplier" class="col-sm-2 col-form-label"><strong>Supplier: </strong></label>
        <div class="col-auto">
            <select placeholder="Select supplier" title="Select supplier by name" class='form-select'>
                <ng-container *ngFor="let supplier of suppliersList">
                    <option>{{supplier.supplierName}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="storehouse" class="col-sm-2 col-form-label"><strong>Storehouse: </strong></label>
        <div class="col-auto">
            <select title="Select storehouse by name" class='form-select'>
                <ng-container *ngFor="let storehouse of storehousesList">
                    <option>{{storehouse.storehouseName}}</option>
                </ng-container>
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="labelList" class="col-sm-2 col-form-label"><strong>Labels List: </strong></label>
        <div class="col-sm-3">
            <table class="table align-middle mb-0 bg-white caption-top mx-2">
                <thead class=" table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="table-responsive-sm" *ngIf="newDocument.labelDocuments">
                    <tr *ngFor="let label of labelsList">
                        <td>{{label.labelName}}</td>
                        <td>
                            <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"><i
                                    class="fa fa-xl fa-xmark"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control m-2" placeholder="Enter label">
                        </td>
                        <td>
                            <div class="btn-group mx-1">
                                <button type="button" title="Add new"
                                    class="btn btn-outline-success border-0 pe-auto"><i
                                        class="fa fa-xl fa-add"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="productList" class="col-sm-2 col-form-label"><strong>Products List: </strong></label>
        <div class="col-sm-7">
            <table class="table align-middle mb-0 bg-white caption-top">
                <thead class="table-dark">
                    <tr>
                        <th class='col-sm-auto'>Name</th>
                        <th class="col-sm-auto">Barcode</th>
                        <th class="col-sm-auto">Quantity</th>
                        <th class="col-sm-auto">Price</th>
                        <th class="row-cols-sm-auto">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-responsive-sm">
                    <tr *ngIf="!true">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" title="Delete row" class="btn btn-outline-danger pe-auto border-0"><i
                                    class="fa fa-xl fa-xmark"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="table-responsive-sm">
                    <tr>
                        <td>
                            <input type="text" class="form-control m-2" placeholder="Enter name...">
                        </td>
                        <td>
                            <input type="text" class="form-control m-2" placeholder="Enter barcode...">
                        </td>
                        <td>
                            <input type="number" min="0" class="form-control m-2" placeholder="Enter qty">
                        </td>
                        <td>
                            <div class="input-group m-2">
                                <span class="input-group-text">$</span>
                                <input type="number" step="0.01" min="0" value="" class="form-control"
                                    placeholder="0.00">
                            </div>
                        </td>
                        <td>
                            <div class="btn-group mx-1">
                                <button type="button" title="Add new"
                                    class="btn btn-outline-success border-0 pe-auto"><i
                                        class="fa fa-xl fa-add"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="button" class="btn btn-secondary mx-1" routerLink="..">
        Back to list
    </button>
    <button type="submit" class="btn btn-success mx-1">
        Submit
    </button>
</form>
