<h2 class="my-3">Editing supplier</h2>

<form>
    <div class="mb-3 row">
        <label for="staticName" class="col-sm-2 col-form-label"><strong>Name: </strong></label>
        <div class="col-sm-8">
            <input type="text" title="name" class="form-control" id="statiName">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="statiStreet" class="col-sm-2 col-form-label"><strong>Street: </strong></label>
        <div class="col-sm-8">
            <input type="text" title="street" class="form-control" id="statiStreet">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="statiCity" class="col-sm-2 col-form-label"><strong>City: </strong></label>
        <div class="col-sm-8">
            <input type="text" title="city" class="form-control" id="statiCity">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="statiZipcode" class="col-sm-2 col-form-label"><strong>Zipcode: </strong></label>
        <div class="col-sm-8">
            <input type="text" title="zipcode" class="form-control" id="statiZipcode">
        </div>
    </div>

    <button type="button" class="btn btn-outline-secondary mx-1" routerLink="../..">
        Back to list
    </button>
    <button type="submit" class="btn btn-outline-success mx-1">
        Submit
    </button>
</form>