<header class="mt-0">
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 mt-0 navbar-dark bg-dark flex-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/"> <i class="fa-solid fa-industry mx-1"> </i>Warehouse Application</a>
      <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded"
        [attr.aria-expanded]="isExpanded ? 'true' : 'false'" aria-controls="navbarSupportedContent"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" id="navbarSupportedContent" [ngClass]="
        { show: isExpanded }">
        <ul ngbNav #nav="ngbNav" class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/storehouses" [routerLinkActive]="['active']">
              <i class="fa-solid fa-warehouse mx-1"></i> Warehouses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/products" [routerLinkActive]="['active']">
              <i class="fa-solid fa-boxes-stacked mx-1"></i> Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/suppliers" [routerLinkActive]="['active']">
              <i class="fa-solid fa-truck mx-1"></i> Suppliers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/delivery-documents" [routerLinkActive]="['active']">
              <i class="fa-solid fa-file-invoice mx-1"></i> Delivery documents</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>