<h2 class="my-3">Add product</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="addProductForm">
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label"><strong>Name: </strong></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" formControlName="productName"
                placeholder="Enter name">
            <small class="text-danger fw-semibold"
                *ngIf="addProductForm.get('productName')?.touched && addProductForm.get('productName')?.hasError('required')">
                Name required</small>
            <small class="text-danger fw-semibold"
                *ngIf="addProductForm.get('productName')?.touched && addProductForm.get('productName')?.hasError('minlength')">
                Name must be at least 3 characters long</small>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="barcode" class="col-sm-2 col-form-label"><strong>Barcode: </strong></label>
        <div class="col-sm-8">
            <input type="text" title="barcode" class="form-control" id="barcode" name="barcode"
                placeholder="Enter barcode" formControlName="productBarcode">
            <small class="text-danger fw-semibold"
                *ngIf="addProductForm.get('productBarcode')?.touched && addProductForm.get('productBarcode')?.hasError('required')">
                Barcode required</small>
            <small class="text-danger fw-semibold"
                *ngIf="addProductForm.get('productBarcode')?.touched  && addProductForm.get('productBarcode')?.hasError('minlength') || addProductForm.get('productBarcode')?.hasError('maxlength')">
                The barcode should be 3 to 48 characters long</small>
        </div>
    </div>

    <button type="submit" class="btn btn-secondary mx-1" routerLink="..">
        Back to list
    </button>
    <button type="submit" class="btn btn-success mx-1" [disabled]="!addProductForm.valid">
        Submit
    </button>
</form>